.chord {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chord-diagram {
  position: relative;
  width: 350px;
  height: 370px;
  padding: 0 40px;
}

.chord-name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.neck {
  position: relative;
  width: 220px;
  height: 290px;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
}

.nut-line {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}

.fret {
  position: absolute;
  width: 100%;
}

.string {
  position: absolute;
  top: 40px;
  height: 250px;
}

.string-name {
  position: absolute;
  top: -30px;
  left: -2px;
  font-size: 16px;
}

.transpose {
  position: absolute;
  top: 90px;
  left: 0px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.finger {
  position: absolute;
  left: -16px;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.avoid {
  position: absolute;
  top: 245px;
  left: -4px;
  font-size: 24px;
  font-weight: bold;
}

.barre {
  position: absolute;
  height: 34px;
  border-radius: 17px;
  opacity: 0.9;
  z-index: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
}